// Définition des couleurs pour chaque type de Pokémon
$type-colors: (
  'normal': #A8A77A,
  'fire': #EE8130,
  'water': #6390F0,
  'electric': #F7D02C,
  'grass': #7AC74C,
  'ice': #96D9D6,
  'fighting': #C22E28,
  'poison': #A33EA1,
  'ground': #E2BF65,
  'flying': #A98FF3,
  'psychic': #F95587,
  'bug': #A6B91A,
  'rock': #B6A136,
  'ghost': #735797,
  'dragon': #6F35FC,
  'dark': #705746,
  'steel': #B7B7CE,
  'fairy': #D685AD,
);

// Mixin pour appliquer la couleur de fond basée sur le type
@mixin apply-type-color($type) {
  background-color: map-get($type-colors, $type);
  color: #fff; // ajustez la couleur du texte selon votre besoin
}

// Classe de base pour les badges de type
.type-badge {
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  display: inline-block; // ou autre selon votre mise en page
  margin-right: 4px; // Espacement entre les badges si nécessaire
  // Vous pouvez ajouter plus de styles ici selon les besoins
}

// Générer des classes CSS pour chaque type de Pokémon
@each $type, $color in $type-colors {
  .type-#{$type} {
    @include apply-type-color($type);
  }
}