.App {
  text-align: center;
}

/* Header Styles */
header {
  background-color: #bc4c49;
  color: #ffffff; /* White text color */
  padding: 20px 0; /* Vertical padding */
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  position: top;
}

/* Footer Styles */
footer {
  background-color: #bc4c49;
  color: #ffffff; /* White text color */
  padding: 20px 0; /* Vertical padding */
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  position: fixed;
}

.liste-pokemon{
  display: flex;
  flex-direction: row;

}

.cartes-pokemon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.carte-pokemon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}

.image-pokemon{
  width: 105%;
  height: 105%;
  border-radius: 10px 10px 0 0;
}

.isInPokedex{
  background-color: goldenrod;
}